node_modules/

dist/
dist-ssr/
coverage/

.vite/
.cache/
*.tsbuildinfo
.eslintcache
.stylelintcache

.env
.env.*
!.env.example
*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
Desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
